@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body,
html {
    margin: 0px;




}

body {
    background-image: url("./img/bg-white-backdrop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    max-height: 1500px
}